.Rproj.user
.Rhistory
.RData
.Ruserdata
past_folders/
searches/
gis_data/
Supplemental-Materials-and-Methods_cache/
Supplemental-Materials-and-Methods_files/
Supplemental-Materials-and-Methods.docx
Supplemental-Materials-and-Methods.html
figure_extract/
nclimate_original_data/
species_list_Q10.csv
coord.csv
readme.txt
data/climate_data/ERA5/ERA5_LST_and_SST_1979-present.nc
.DS_Store
~$ms.docx
ms_cache
ms_files
*pdf
ms.rmarkdown
ms.html
output/models/
